<b>Jokipo-veikkaus kaudelle 2016-2017</b><br />
<a href="http://www.mehtimakelainen.net/">Mehtimäkeläinen</a>-sivulla on useana vuonna ollut "Jokipo-veikkaus", joka on ollut ihan suosiossakin sivuston keskustelupalstan jäsenissä.
Valitettavasti tämä veikkaus on ollut viimeksi kaudella 2013-2014.
Ottelutulokset on pitänyt käsin syöttää (ei paha rasti kylläkään), mutta myös laskea jokaisen ottelua veikanneen pisteet.
Tämä on varmasti ollut työläsprosessi, varsinkin "kulta-aikoina", kun veikkaajia on ollut useita kymmeniä.<br /><br />
Nyt on aika siirtyä tähän päivään. Tämä sivusto on tarkoitettu vain ja ainoastaan leikkimieliseen otteluveikkaamiseen.
Osallistumismaksua ei ole, toisaalta ei kyllä ole palkintojakaan (ainakaan toistaiseksi...).
Paitsi tietenkin mainetta ja kunnia, sekä hieno sähköinen pokaali (<img src="/static/img/trophy.png" />) nimimerkin vieressä.
Sovellus pitää huolen, että ottelua ei voi veikata enää sen alkamisen jälkeen. Pisteenlasku menee aina ohjeitten mukaisesti luotettavasti.
Myös muutamia "kivoja lisäjuttuja" kuten plus/miinus-tilasto on ranking-listalla käytössä.<br />
Odotukseni tätä sivustoa kohtaan on suuret ja olen toiveikas, että seuraavalla kaudella laajennetaan veikkaukset koskettamaan myös muita kuin Jokipoika-pelejä.
Valmiudet tähän jo on, mutta pidetään tämä vielä tämän kauden ajan "vain meidän kesken".<br /><br />
Ohjelmointivirheet ja ehdotukset voi lähettää suoraan ylläpitäjälle (yhteystiedot löydät, kun kirjaudut sisään ja menet omille sivuille).<br /><br />
-Teemu<br /><br />
<br />
<b>Pisteytys</b><br />
<table>
 <tr>
	<td>Määritelmä</td>
	<td>Pisteet</td>
 </tr>
 <tr>
	<td>Kotijoukkueen maalit oikein</td>
	<td>1</td>
 </tr>
 <tr>
	<td>Vierasjoukkueen maalit oikein</td>
	<td>1</td>
</tr>
 <tr>
	<td>Veikattu voittaja oikein</td>
	<td>1</td>
</tr>
 <tr>
	<td>Täysin oikea tulos</td>
	<td>1</td>
</tr>
 <tr>
	<td>Veikattu tasapeli</td>
	<td>2</td>
 </tr>
</table>
<br />
Jokainen tilanne pisteytetään erikseen, ja näin ollen maksimi pisteet ovat joko 4 tai 5. Riippuen onko peli päättynyt tasan vai ei. Koska ottelut eivät voi päättyä oikeasti tasan, veikataan <b>varsinaisen peliajan tulosta</b>.<br /><br />
Esimerkki: ottelu päättyy 1-2<br />
A on veikannut sen päättyvän 0-2. A saa pisteitä: vierasmaalit oikein (1 piste) sekä oikea voittaja (1 piste), eli yhteensä 2 pistettä.<br />
B on veikannut tulokseksi 1-2. Hän saa pisteitä kotimaalit oikein (1 piste), vierasmaalit oikein (1 piste), oikea voittaja (1 piste), täysin oikea veikkaus (1 piste) eli yhteensä 4 pistettä.<br />
C veikkaa tulokseksi 3-1, eikä saa siis yhtään pistettä.<br /><br />
Toinen esimerkki: ottelu päättyy 3-3.<br />
A veikkaa 3-2. Hän saa pisteitä vain yhden, koska kotijoukkueen maalit ovat oikein.<br />
B veikkaa tulokseksi 2-2. Hän saa pisteitä 2, koska on veikannut ottelun päättyvän tasan.<br />
C veikkaa 3-3, joten hän saa täydet pisteet: kotimaalit (1 piste), vierasmaalit (1 piste), tasapeli (2 pistettä) ja oikea tulos (1 piste), eli 5 pistettä.<br /><br />
Ja sitten veikkaamaan... 
